.result {
  width: 400px;
  height: 400px;
  background-color: white;
  padding: 20px;
  background-image: url("../img/bg.jpg");
}

@media (max-width: 468px) {
  .result {
    width: 310px;
    height: 310px;
    padding: 5px;
  }
}

.r-head,
.r-story,
.r-writer {
  word-wrap: break-word;
}

.r-head {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.r-story {
  font-size: 1.2rem;
}

.r-writer {
  margin-top: 20px;
  text-align: right;
  font-weight: 400;
}

h2 {
  margin: 0 !important;
}
